<div class='user-edit'>
  <%= render "shared/header"%>
  <div class='user-edit-body'>
    <div class='user-edit-form'>

      <div class='user-form-header'>
          <p class='user-edit-title'>
          ユーザー情報編集
          </p>
      </div>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

       <div class='edit-content'>
        <span class='edit-content-title'>nickname</span>
      </div>
      <%= f.text_area :nickname, class:"edit-select-box", id:"nickname", placeholder:"例) higashi太郎", maxlength:"15" %>

      <div class='edit-content'>
        <span class='edit-content-title'>出身地</span>
      </div>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"edit-select-box", id:"post-prefecture"}) %>

      <div class='edit-content'>
        <span class='edit-content-title'>目標</span>
      </div>
      <%= f.text_area :target, class:"edit-target-area", id:"edit-target", placeholder:"例）行ったことのない県に行く！(最大20文字)", maxlength:"20" %>

      <div class='edit-content'>
        <span class='edit-content-title'>設定期間</span>
        <p class='edit-content-explanation'>目標達成を目指す期間を設定してください！</p>
      </div>
      <%= f.collection_select(:period_id, Period.all, :id, :name, {}, {class:"edit-select-box", id:"post-period"}) %>


      <div class='user-form-footer'>
        <%= f.submit "更新する",class:"user-edit-btn"%>
      </div>
      <% end %>


  </div>
    

  </div>
  <%= render "shared/footer"%>
</div>