<div class='users-main'>
<%= render "shared/header"%>
  <div class='users-title'>
  <p class='users-title-text'>Profile</p>
  </div>
  <div class='profile-area'>

  
    <ul class='profile-title'>
      <li class='profile-title-text'>ニックネーム</li>
      <li class='profile-title-text'>
      出身地
      </li>
      <li class='profile-title-text'>
      目標
      </li>
      <li class='profile-title-text'>
      設定期間
      </li>
    </ul>

    <div class='profile-content'>
      <p class='profile-content-text'>
      <%= @user.nickname %>
      </p>
     

      <% if @user.prefecture_id == nil || @user.prefecture_id == 0 %>
        <p class='profile-content-text'>
        設定されていません
        </p>
      <%  else %>
      <p class='profile-content-text'>
        <%= @user.prefecture.name %>
      </p>
      <% end %>
      
      
      <% if @user.target == nil || @user.target == "" %>
      <p class='profile-content-text'>
      設定されていません
      </p>
      <% else %>
      <p class='profile-content-text'>
      <%= @user.target %>
      </p>
      <% end %>
      


      <% if @user.period_id == nil || @user.period_id == 0 %>
      <p class='profile-content-text'>
      設定されていません
      </p>
      <% else %>
      <p class='profile-content-text'>      
      <%= @user.period.name %>
      </p>
      <% end %>

    </div>
  </div>

    <% if current_user.id == @user.id%>
      <div class='user-profile-edit'>
      <%= link_to 'Edit',edit_user_registration_path, class: "profile-edit"%>
      </div>
    <% end %>

    <div class='users-second'>
    <p class='users-second-title'>My-Log</p>
    </div>

    <% if @user.posts == [] %>
    <div class='post-nil'>
      <p class='post-nil-message'>まだ投稿がありません</p>
    </div>
    <% end %>


  <% @posts.each do |post| %>
  <div class='post-area'>
      <%= image_tag post.image, class: "post-image-area" %>
       
      <div class='post-info-area'>
        <div class='post-info-header'>
        <b class='post-info-title'>
        <%= post.title %>
        </b>
        </div>

        <div class='post-info-text'>
        <p class='post-info-message'>
        <%= post.explain %>
        </p>
        </div>

        <div class='post-info-footer'>
        <p class='post-info-nickname'>
        <%=link_to "by #{post.user.nickname}", user_path(post.user_id) ,class: "info-nickname"%>
        </p>
        </div>
        
      </div>
  </div>
  <% end %>

<%= render "shared/footer"%>
</div>