<div class='login-page'>
  <%= render 'shared/header'%>
    <div class='login-area'>
      <%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>
       <div class='login-form'>

          <div class='login-form-email'>
             <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
          </div>
          <div class='login-form-password'>
             <%= f.password_field :password, class:"input-default", id:"password", placeholder:"パスワード６文字以上" %>
          </div>
          <div class='login-btn'>
          <%= f.submit "Log in", class: 'login-btn-text'%>
          </div>
       </div>
       <%end%>
    </div>
  <%= render 'shared/footer'%>
</div>
