<div class='post-main'>
<%= render "shared/header" %>
  <div class='explanation-area'>
      <div class= 'explanation-box'>
        <div class='explanation-title'>
        <b class='explanation-title-text'>ステップ① 目標設定をしよう！</b>
        </div>
        <p class='explanation-text'>
        <%= "ようこそ、#{current_user.nickname}さん！！"%>
        </p>
        <p class='explanation-text'>
        このtabizukiは、今まで知らなかった地方の魅力に出会っていただくきっかけになればいいなという思いで作成しました！是非、これまで行ったことのない場所にも旅をして、全国を制覇しましょう！では、下記のボタン、もしくは自身の名前をクリックして、目標を設定しましょう!
        </p>
        <%= link_to 'マイページ', user_path(current_user.id), class:"my-page"%>
      </div>
      <div class= 'explanation-box'>
        <div class='explanation-title'>
        <b class='explanation-title-text'>ステップ② 旅先を決めよう！</b>
        </div>
        <p class='explanation-text'>
        次に旅先を決めましょう！下にみなさんが投稿したTabiLogがあります、気になる場所がれば、クリックして詳細を確認しましょう！！投稿者のニックネームをクリックすると、これまでの投稿を確認できす！綺麗な景色を見にいくのもよし！美味しそうな食べ物を食べにいくのもよし！きっと新しい地方の魅力に出会えるでしょう！
        </p>
      </div>
      <div class= 'explanation-box'>
        <div class='explanation-title'>
        <b class='explanation-title-text' >ステップ③ 投稿しよう！</b>
        </div>
        <p class='explanation-text'>
        旅はいかがだったでしょうか？次に、今回の旅先の魅力をみんなに伝えましょう！景色や食べ物、街の雰囲気、住民の人たちの人柄など、なんでも構いません！是非、積極的な投稿をお願いします！また、次の目標設定を行ってください！
        </p>
        <div class='new-post-area'>
        <%= link_to '新規投稿', new_post_path, class: "new-post-btn"%>
        </div>
      </div>
  </div>
  
  
  <div class='posts-title-area'>
    <b class="posts-title">Tabi-Log</b>
  </div>


  <% @posts.each do |post| %>
  <div class='post-area'>
    <%= link_to post_path(post.id), class:"post-show-link" do %>
      <%= image_tag post.image, class: "post-image-area" %>
       
      <div class='post-info-area'>
        <div class='post-info-header'>
        <b class='post-info-title'>
        <%= post.title %>
        </b>
        </div>

        <div class='post-info-text'>
        <p class='post-info-message'>
        <%=safe_join(post.explain.split("\n"),tag(:br))%>
       </p>
        </div>
    <% end %>
        <div class='post-info-footer'>
        <p class='post-info-nickname'>
        <%=link_to "by #{post.user.nickname}", user_path(post.user_id) ,class: "info-nickname"%>
        </p>
        </div>
        
      </div>
  </div>
  <% end %>


<% if @posts == [] %>
  <div class='post-area'>
      <%= image_tag "https://images.pexels.com/photos/805448/pexels-photo-805448.jpeg?cs=srgb&dl=pexels-iconcom-805448.jpg&fm=jpg",class: "post-image-area"%>
    <div class='post-info-area'>
      <div class='post-info-header'>
       <b class='post-info-title'>例）こんな場所に！絶景！！</b>
      </div>
      <div class='post-info-text'>
      <p class='post-info-message'>例）今回は、以前にメンバーさんが行かれていた○○に行ってきました！写真で見るよりも絶景で興奮しました。そしてなんと言っても場所がすごいんです、えっ！こんな場所にってなります！是非みなさんも行ってそれを味わってください！ホテルの近くの商店街に行ったんですが、確かに新しくはなかったですが、地元の人たちののんびりした感じがすごく心地よかったです！<p>
      </div>
      <div class='post-info-footer'>
      <p class='post-info-nickname'>例）by 太郎<p>
      </div>
    </div>
  </div>
<% end %> 
<%= render "shared/footer"%>
</div>